/* CUSTOM PROPERTIES */
:root {
    --red: #f13d24;
    --sat-yellow: #fcc31b;
    --light: #fbbf4f;
    --sat-orange: #f6881c;
    --darkest-red: #5c0000;
    --darkest-blue: #00001f;
    --light-gray: #403d3e;
    --gray: #231F20;
}

/* NORMALIZING RULES */
body,
html {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 30px 50px;
}

img {
    max-width: 100%;
    align-items: center;
}

/*END*/

body {
    background: var(--darkest-blue);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: whitesmoke;
}

/*SECTION 1 -- TITLE */
#titlePage {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#title {
    min-width: 75vw;
    height: 66vh;
}


.prompt {
    display: block;
    padding: 20px;
    font-size: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    background-color: rgba(89, 89, 142, 0.25);
    border-color: var(--gray);
    min-width: 50vw;
    height: auto;
}

#layer-scene {
    cursor: pointer;
}

/*BUTTONS */
.button-enter {
    display: inline-block;
    border-style: solid;
    border-radius: 15px;
    padding: 10px 13px 10px 15px;
    font-size: 25px;
    border-width: 3px;
    cursor: pointer;
    max-width: 25vw;
    margin: 5px;
    border-color: var(--sat-orange);
    color: var(--sat-orange);
}

.button-enter:hover {
    transition: 0.25s;
    border-color: var(--light);
    color: var(--light);
}

/*BACKNEXT BUTTON*/
.bn-button {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 25px 0px 10px;
    margin-top: 50px;
    margin-right: 25px;
    color: var(--light)
}

.bn-button:hover {
    color: whitesmoke;
    transition: 0.25s;
}


.button-container {
    display: flex;
    flex-direction: column;
}

.prompt-button {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
    color: var(--light)
}

.prompt-button:hover {
    color: whitesmoke;
    transition: 0.25s;
}

.locked-button {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
    color: var(--light-gray)
}